<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon-moba.jpg" />

    @switch (ViewBag.Title)
    {
        case "Firma de transport intern si international | Reparatii auto | Verificare ITP":
            <meta name="description" content="Firma de transport intern si international rapid. Oferim deasemenea servicii de verificare ITP si va ajutam sa intocmiti toate tipuri de acte auto. Firma este specializata si in reparatii auto de diverse tipuri.">
            break;
        case "Despre firma Moba Tehnic":
            <meta name="description" content="Firma de transport Moba Tehnic este o firma in plina dezvoltare si cu experienta in transporturi de marfa, intocmire acte auto, ITP.">
            break;
        case "Acte auto | Certificate de inmatriculare | Asigurari RCA":
            <meta name="description" content="Moba Tehnic va pune la dispozitie urmatoarele servicii: servicii de eliberare a certificatului de inmatriculare, intocmire fise de inmatriculare, eliberarea certificatului de inmatriculare, asigurari RCA, CASCO, malpraxis, calatorie si altele.">
            break;
        case "ITP auto Craiova":
            <meta name="description" content="Specialistii nostri va stau la dispozitie pentru inspectia tehnica periodica a masinii dvs. Toate lucrarile de tip ITP se efectueaza de catre specialistii nostrii, pe standuri ultramoderne care permit efectuarea operatiilor prevazute de legislatie.">
            break;
        case "Transport intern si international pentru diverse tipuri de marfuri de diverse capacitati":
            <meta name="description" content="Va punem la dispozitie camioane exclusive de marfa, indiferent de cantitate si dimensiuni asiguram asiguram transportul in conditii optime si sigure. Detinem o suita de camioane cu prelata, duba frigorifica, trailer, bena.">
            break;
        case "Locuri de munca Moba Tehnic Craiova":
            <meta name="description" content="Locuri de munca sofer camion, mecanic, inspector ITP Craiova">
            break;
        case "Contact":
            <meta name="description" content="Companie de transporturi, reparatii si verificare ITP in Craiova">
            break;
    }

    <meta name="expires" content="never" />
    <meta name="revisit-after" content="7 days" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />

</head>
<body>
    <nav class="navbar info-nav">
        <ul class="nav navbar-nav navbar-col">
            <li>
                <span id="transport-dep">Departament transport</span>
                <span style="display:inline-block;"><i class="fa fa-envelope mr-3"></i><a href="mailto:transport.moba@gmail.com"> transport.moba@gmail.com</a></span><br />
                <span style="margin-left:44%"> <i class="fa fa-phone mr-3"></i><a href="tel:0742 223 088">+40 (0)742 223 088</a></span> <br />
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-col">
            <li>
                <span id="itp-dep">Departament ITP</span> <span style="display:inline-block;"> <i class="fa fa-phone mr-3"></i> <a href="tel:0769 325 555">+40 (0)769 325 555</a></span><br />
                <span style="margin-left:45%"> <i class="fa fa-phone mr-3"></i> <a href="tel:0742 122 729 ">+40 (0)742 122 729</a></span>
            </li>
        </ul>
        <ul class="nav navbar-nav col">
            <li>
                <span id="acte-dep">Departament acte auto</span> <span style="display:inline-block;"> <i class="fa fa-envelope mr-3"></i> <a href="mailto:acte.autoconsult@gmail.com ">acte.autoconsult@gmail.com</a></span> <br />
                <span style="margin-left:43%"> <i class="fa fa-phone mr-3"></i> <a href="tel:0769 325 555">+40 (0)769 325 555</a></span><br />
                <span style="margin-left:43%"> <i class="fa fa-phone mr-3"></i> <a href="tel:0769 666 088">+40 (0)769 666 088</a></span>
            </li>

        </ul>
        <ul class="nav navbar-nav col">
            <li>
                <iframe src="https://www.facebook.com/plugins/share_button.php?href=http://www.reparatiisitransport.ro/&layout=button&size=large&mobile_iframe=true&width=83&height=28&appId" width="83" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </li>

        </ul>
    </nav>
    <nav class="navbar main-nav" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <a class="navbar-brand" href="@Url.Action("Index", "Home", null)"><img src="~/Content/img/rp3.png" alt="Moba Tehnic firma de transporturi marfa " /></a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">

            <ul class="nav navbar-nav navbar-left">
                <li>@Html.ActionLink("Acasa", "Index", "Home")</li>
                <li>@Html.ActionLink("Despre noi", "Firma_de_transport_reparatii", "AboutUs")</li>
                <li>@Html.ActionLink("Birou acte auto", "Acte_auto_inmatriculare_impozite_taxe", "Documents")</li>
                <li>@Html.ActionLink("I.T.P.", "Itp_inspectie_tehnica_periodica_craiova", "Itp")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Transport intern si international", "Transport_marfa_intern_international", "Transport")</li>
                <li>@Html.ActionLink("Reparatii", "Firma_reparatii_auto_masini", "Repairs")</li>
                <li>@Html.ActionLink("Cariere", "Cariere_sofer_reparatii_craiova", "Jobs")</li>
                <li>@Html.ActionLink("Contact", "Companie_de_transport_reparatii_contact", "Contact")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <footer class="page-footer unique-color-dark">

        <!-- Footer Links -->
        <div class="footerSection">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-sm-3">

                    <!-- Content -->
                    <h6 class="subtitleFooter">DESPRE NOI</h6>
                    <hr style="text-align:left !important">
                    <p>
                        <span style="color: #e4e4e4;">
                            Moba tehnic este o companie de transport rutier international infiintata in anul 2012 cu parc propriu de masini cu asigurare CMR / GLOBALA si departament de expeditii cu coordonatori de transport care pot comunica cu clientii dvs. externi...<br />
                            <strong>@Html.ActionLink("Citeste mai multe…", "Firma_de_transport_reparatii", "AboutUs")</strong>
                        </span>
                    </p>
                </div>


                <!-- Grid column -->
                <div class="col-sm-3">

                    <!-- Links -->
                    <h6 class="subtitleFooter">PROGRAM DE LUCRU</h6>
                    <hr style="text-align:left !important">
                    <p>
                        <span style="color: #e4e4e4;">
                            <strong>ITP</strong>
                        </span>
                    </p> <p><span style="color: #e4e4e4;">Luni-Vineri :&nbsp;09:00 - 18:00<br> Sambata-Duminica: Inchis</span></p>
                    <p>
                        <span style="color: #e4e4e4;">
                            <strong>Service</strong>
                        </span>
                    </p> <p><span style="color: #e4e4e4;">Luni-Vineri : 08:00 - 18:00<br></span></p>
                    <p>
                        <span style="color: #e4e4e4;">
                            <strong>Acte auto</strong>
                        </span>
                    </p> <p><span style="color: #e4e4e4;">Luni-Duminica : Non-Stop</span></p>

                </div>

                <!-- Grid column -->
                <div class="col-sm-3">
                    <h6 class="subtitleFooter">CONTACT</h6>
                    <hr style="text-align:left !important">

                    <p>
                        <i class="fa fa-home mr-3"></i> Romania, Craiova
                    </p>
                    <p>
                        <i class="fa fa-phone mr-3"></i> +40 (0)742 223 088
                    </p>
                    <p>
                        <i class="fa fa-map-marker fa-"></i> Strada Drumul Apelor, Craiova
                    </p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> transport.moba@gmail.com
                    </p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> florentina.moba@gmail.com
                    </p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> acte.autoconsult@gmail.com
                    </p>

                </div>
                <div class="col-sm-3">
                    <div class="footerLogo">
                        <img src="../Content/img/logo-footer.png" style="width:100%;" alt="Acte auto si ITP Craiova">
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footerCopyright">
            <div class="container">
            </div>
            © 2019 Copyright:
            <a href="#"> MagicWeb24</a>
        </div>
        <!-- Copyright -->

    </footer>
</body>
</html>
